<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cisterna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="cisterna">
      <div class="agua" [style.height]="getWaterHeight()" [class.wave]="isPumpActive"></div>
    </div>

    <div class="controls">
      <ion-button (click)="togglePump()" expand="full" color="tertiary">
        {{ isPumpActive ? 'Apagar bomba' : 'Encender bomba' }}
      </ion-button>

      <div *ngIf="isPumpActive" class="timer">
        Tiempo: {{ pumpTimer }}s
      </div>
    </div>

    <div class="phases">
      <ion-button *ngFor="let phase of [1, 2, 3, 4]" 
                  (click)="setPhase(phase)" 
                  [color]="currentPhase === phase ? 'primary' : 'medium'">
        Fase {{ phase }}
      </ion-button>
    </div>
  </div>
</ion-content>
